This is the feed

<div class="feed">

{{#each post}}
<div id="posts">
<h2>{{creatorId.username}}</h2>

<a href="/post/{{id}}"><img src="{{picPath}}" ></a>
<p>{{content}}</p>

<a href="/comments/{{id}}">Leave a comment</a>
</div>
{{/each}}

</div>