<div id="posts">
<h2>{{post.creatorId.username}}</h2>

<a href="/post/{{post.id}}"><img src="{{post.picPath}}" ></a>
<p>{{post.content}}</p>
</div>

<a href="/post/{{post.id}}/comment"> Leave a comment!</a>

</form>

<div class="comments" style="display: flex; justify-content:center; align-items:center">
 

 {{#each post.comments}}

  {{this.content}}

  {{creatorId.username}}

 {{/each}}
 
 </div>